debian/files           
debian/icloud-browser.postrm.debhelper  
debian/debhelper-build-stamp  
debian/icloud-browser  
debian/icloud-browser.postinst.debhelper  
debian/icloud-browser.substvars
debian/.debhelper/
assets/
